.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recommended_movies_container {
  display: flex;
  gap: 8px;
}

.recommended_movies_container > a {
  width: calc(33.333% - 6px);
  aspect-ratio: 179 / 256;
}

.recommended_movies_container > a > img {
  height: 100%;
}

.all_movies_container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.all_movies_container > a {
  width: calc(20% - 7px);
  aspect-ratio: 179 / 256;
}

.all_movies_container > a > img {
  height: 100%;
}
