.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  height: 80%;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  background-color: black;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}
